.Navbar{
    display: flex !important;
    text-decoration: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 14vw 1vw 14vw;
    list-style: none;
    margin: 0px;
}

.nestedList{
    display: flex !important;
    text-decoration: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.listItem{
    padding: 0rem 1.5rem;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.purpbtn{
    background-color: #5D5FEF;
    color: white;
    padding: 1rem 2.5rem;
    border-radius: 0.8rem;
}


.inlinenested{
    display: flex !important;
    text-decoration: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

@media screen and (max-width: 1436px) {
    .listItem{
        padding: 0rem 1rem;
        font-family: "Manrope", sans-serif;
        font-weight: 700;
        cursor: pointer;
    }
    .purpbtn{
        background-color: #5D5FEF;
        color: white;
        padding: 0.8rem 1.5rem;
        border-radius: 0.4rem;
    }
    
    .purpbtnm{
        background-color: #5D5FEF;
        color: white;
        padding: 0.4rem 1rem;
        border-radius: 0.4rem;
        font-size: 13px !important;
    }
  }